.postCourse-li {
    @extend .d-flex;
    label {
        @extend .align-self-center;
        @extend .fw-normal;
        @extend .flex-shrink-0;
        height: fit-content;
        width: 5.5rem;
    }
    input {
        @extend .form-control;
    }
    button {
        @extend .btn;
        margin-right: "-1rem";
        color: "#6c757d";
    }
    span {
        color: "#6c757d" !important;
    }
}