.hover-bg-warning {
    &:hover {
        background-color: #f9ba00;
        border-color: #f9ba00;
        opacity: 1;
        color: white;
        >a {
            font-weight: bold;
        }
    }
}

.hover-bg-primary {
    &:hover {
        background-color: #76adff;
        border-color: #76adff;
        opacity: 1;
        color: white;
        >a {
            font-weight: bold;
        }
    }
}

.hover-bg-dark {
    &:hover {
        background-color: black;
        color: white;
    }
}

.hover-bg-gray {
    &:hover {
        background-color: rgb(233, 233, 233);
    }
}