.msg {
    border-width: 3px;
    display: flex;
    padding: 0.25rem 1rem;
    align-items: center;
    margin-left: 1rem;
    @include sm {
        margin-left: 1.5rem;
        padding: 0.25rem 1.5rem;
    }

    span {
        margin-right: 0.25rem;
    }
    
    p {
        margin-bottom: 0;
        font-weight: bold;
    }
}